div .info {
	margin: 2rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
}

.info input {
	font: inherit;
	display: block;
	width: 85%;
	border: 1px solid #ccc;
	padding: 0.3rem;
	border-radius: 5px;
}

.info {
	display: flex;
	justify-content: space-between;
}
